
<ul style="list-style: none;">
   <%  @nation_details.each do |character| %>

   <li> Member Name: <%= character.name %> </li>
   <li>  (and their photo, if they have one)  
    
                              </li>
    <li> Allies: <% if character.allies.count == nil %>
                        None
                    <% else %>
                    <%= character.allies.join(', ') %>
                    <% end %> </li>
    <li> Enemies: <% if character.enemies.count == nil %>
                        None
                    <% else %>
                    <%= character.enemies.join(', ') %>
                    <% end %> </li>
    
    </li>
    <li> Affiliations: <%= character.affiliation %> </li>
    <br>
    
    <% end %>
</ul>